:root {
	--dark-300: hsl(213, 24%, 7%);
	--dark-200: hsl(222, 15%, 13%);
	--dark-100: hsl(222, 15%, 19%);
	--primary-300: hsl(149, 77%, 46%);
	--primary-200: hsl(149, 77%, 56%);
	--primary-100: hsl(149, 77%, 66%);
	--secondary-300: hsl(289, 90%, 53%);
	--secondary-200: hsl(289, 90%, 63%);
	--secondary-100: hsl(289, 90%, 73%);
	--gray: hsl(212, 15%, 48%);
	--error: hsl(0, 83%, 54%);

	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: sans-serif;
	background: var(--dark-200);
	color: #fff;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}